In [0]:
describe database default;

In [0]:
create database if not exists j2d

In [0]:
desc database j2d

In [0]:
create table j2d.employee(
  emp_id int,
  emp_name string,
  emp_dept string,
  emp_salary int
)

In [0]:
select * from j2d.employee

In [0]:
use j2d;
select * from employee;

In [0]:
insert into employee values (100,'Supreeth','IT',12000)

In [0]:
select * from employee;

In [0]:
insert into employee (emp_id,emp_name,emp_dept)values (101,'Reddy','IT')

In [0]:
insert into employee values (102,'Ravi','IT',15000),(103,'Rajesh','IT',12000),(104,'Ram','Finance',30000);

In [0]:
-- where
select * from employee where emp_salary is null

In [0]:
select * from employee where emp_salary > 20000;
-- select * from employee where emp_salary < 20000;

In [0]:
select emp_name, emp_dept from employee

In [0]:
--- like
--select * from employee where emp_name like 'S%'
--select * from employee where emp_name like '%th'
--select * from employee where emp_name like 'R_____'
select * from employee where emp_name like '%e%'

In [0]:
-- orderby (sorting in ascending and descending order)
--select * from employee order by emp_id desc
select * from employee order by emp_salary desc

In [0]:
--select * from employee where emp_salary >= 13000 and emp_name like 'R%'
select * from employee where emp_salary >= 13000 or emp_name like 'S%'

In [0]:
-- update
-- update employee set emp_salary=18000 where emp_name = 'Reddy'
select * from employee

In [0]:
-- dummy table from existing table
create table dummy_emp as
(
  select * from employee
  order by emp_id
)

In [0]:
select * from dummy_emp

In [0]:
-- delete
-- delete from dummy_emp where emp_id = 102
select * from dummy_emp

In [0]:
-- truncate
-- truncate table dummy_emp
select * from dummy_emp

In [0]:
-- Aggregations
-- select min(emp_salary) from employee
select min(emp_salary) as min_salary from employee

In [0]:
-- select * from employee
select emp_dept, sum(emp_salary) as total_salary_by_dept
from employee
group by emp_dept