In [0]:
describe database default;

In [0]:
create database if not exists j2d

In [0]:
desc database j2d

In [0]:
create table j2d.employee(
  emp_id int,
  emp_name string,
  emp_dept string,
  emp_salary int
)

In [0]:
select * from j2d.employee

In [0]:
use j2d;
select * from employee;

In [0]:
insert into employee values (100,'Supreeth','IT',12000)

In [0]:
select * from employee;

In [0]:
insert into employee (emp_id,emp_name,emp_dept)values (101,'Reddy','IT')

In [0]:
insert into employee values (102,'Ravi','IT',15000),(103,'Rajesh','IT',12000),(104,'Ram','Finance',30000);

In [0]:
-- where
select * from employee where emp_salary is null

In [0]:
select * from employee where emp_salary > 20000;
-- select * from employee where emp_salary < 20000;

In [0]:
select emp_name, emp_dept from employee

In [0]:
--- like
--select * from employee where emp_name like 'S%'
--select * from employee where emp_name like '%th'
--select * from employee where emp_name like 'R_____'
select * from employee where emp_name like '%e%'

In [0]:
-- orderby (sorting in ascending and descending order)
--select * from employee order by emp_id desc
select * from employee order by emp_salary desc

In [0]:
--select * from employee where emp_salary >= 13000 and emp_name like 'R%'
select * from employee where emp_salary >= 13000 or emp_name like 'S%'

In [0]:
-- update
-- update employee set emp_salary=18000 where emp_name = 'Reddy'
select * from employee

In [0]:
-- dummy table from existing table
create table dummy_emp as
(
  select * from employee
  order by emp_id
)

In [0]:
select * from dummy_emp

In [0]:
-- delete
-- delete from dummy_emp where emp_id = 102
select * from dummy_emp

In [0]:
-- truncate
-- truncate table dummy_emp
select * from dummy_emp

In [0]:
-- Aggregations
-- select min(emp_salary) from employee
select min(emp_salary) as min_salary from employee

In [0]:
-- select * from employee
select emp_dept, sum(emp_salary) as total_salary_by_dept
from employee
group by emp_dept

In [0]:
--- group by, having 
select emp_dept, sum(emp_salary) as total_salary_by_dept
from employee
group by emp_dept
having sum(emp_salary) > 45000;

In [0]:
select * from employee

In [0]:
select * from employee where emp_id in (100,101,102)

In [0]:
--- Alter
alter table employee
add column emp_dept_id int

In [0]:
--- Update
update employee
set emp_dept_id = 1000
where emp_dept = 'IT'

In [0]:
update employee
set emp_dept_id = 2000
where emp_dept = 'Finance'

In [0]:
select * from employee

In [0]:
--- case when
select *,
case 
when emp_salary >= 15000 then 'True'
when emp_salary < 15000 then 'False'
end as is_high_earner
from employee;

In [0]:
create a employee_join table with id,name,salary,dept_id and insert some dummy data

In [0]:
select * from employee_join

In [0]:
create department table with dept_id,dept_name and insert some dummy data

In [0]:
select * from department

In [0]:
drop table department

In [0]:
create table employee_join (
  id int,
  name string,
  salary float,
  dept_id int
);

insert into employee_join (id, name, salary, dept_id) values
(1, 'John Doe', 20000, 10),
(2, 'Jane Smith', 15000, 20),
(3, 'Alice Johnson', 12000, 30),
(4,'Supreeth',25000,40);

In [0]:
drop table employee_join

In [0]:
drop table department

In [0]:
CREATE TABLE department (
    dept_id INT,
    dept_name STRING
);

INSERT INTO department (dept_id, dept_name) VALUES
(10, 'HR'),
(20, 'Engineering'),
(30, 'Marketing'),
(40, 'Sales');

In [0]:
select * from department

In [0]:
select * from employee_join

In [0]:
select * from department

In [0]:
select * from employee_join

In [0]:
--- Inner Join
select id, employee_join.name as emp_name, salary,employee_join.dept_id as emp_dept_id,department.dept_name as dept_name from employee_join
join department on employee_join.dept_id=department.dept_id

In [0]:
--- left join
select id, employee_join.name as emp_name, salary,employee_join.dept_id,department.dept_name as dept_name from employee_join
left join department
on employee_join.dept_id=department.dept_id

In [0]:
--- right join
select id, employee_join.name as emp_name, salary,employee_join.dept_id as emp_dept_id,department.dept_name as dept_name from employee_join
right join department on employee_join.dept_id=department.dept_id

In [0]:
insert into employee_join values (5,'John',46000,50)

In [0]:
select id, employee_join.name as emp_name, salary,employee_join.dept_id,department.dept_name as dept_name from employee_join
left join department
on employee_join.dept_id=department.dept_id

In [0]:
--- full join
select id, employee_join.name as emp_name, salary,employee_join.dept_id,department.dept_name as dept_name from employee_join
full join department
on employee_join.dept_id=department.dept_id

In [0]:
USE j2d;

In [0]:
select * from sample_data

In [0]:
select Department,max(salary) as max_salary_by_department
 from sample_data
 group by Department

In [0]:
select * from sample_data

In [0]:

insert into sample_data values (10,'Reddy', 'Sales', 52000, '2021-01-01');

In [0]:
with cte_delete_duplicate_data
as 
(
select *, Row_Number () over(partition by id order by id desc) as rownumber
from sample_data
)
delete from cte_delete_duplicate_data
where rownumber > 1

In [0]:
select *, Row_Number () over(partition by name order by salary desc) as rownumber
from 
sample_data

In [0]:
select * from sample_data

In [0]:
with cte_delete_duplicate_data
as 
(
select *, Row_Number () over(partition by id order by id ) as row_number
from sample_data
)
delete from cte_delete_duplicate_data where row_number > 1

In [0]:
delete from sample_data
where id in (
    select id
    from (
        select id, Row_Number() over(partition by id order by id) as row_number
        from sample_data
    ) as subquery
    where row_number > 1
)